@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Patient

<!DOCTYPE HTML>
<html>
<head>
    <title>Comfirmation</title>
</head>

<body>
    <strong> @Model.Name</strong> has been successfully registered as <strong>@Model.Occupation</strong> 
    on <strong>@Model.RegisterTime</strong>
</body>
</html>
